<h1>Editing Book</h1>
<% form_with model:@book local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>

<p>Opion</p>
<%= f.text_area :body %>

<%= submit"Update BooK" %>
<% end %>

<%= link_to "show",book_path(@books) %>
<%= link_to "back",books_path %>

